<header class="header">
    <a href="/" class="header_logo"style="color: black; font-size: 30px; font-style: italic";>Admin Panel</a>
    <nav class="header_nav">
        <ul>
            <li>
                <a href="#" class="home">Home</a>
            </li>
            <li>
                <a href="#" class="About">About</a>
            </li>
            <li>
                <a href="#" class="contact">contact</a>
            </li>
        </ul>
    </nav>

    <div class="header_button">
        <button>
            Logout
        </button>
    </div>

</header>