<div class="author">
    <h1 class="author__heading"> Hi my name is Neel </h1>
    <p class="author__body">This is my Blog Website using Nodejs & Mongodb, Hope you like it</p>
</div>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYs3jjelvP7KQT9GWvVjV0mgMw3JlgeJM9Vg&s" alt="chiil guy" width="750" height="400">

<section class="articles">
    <h2 class="articles_heading">
         Latest Posts
    </h2>
    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list_date">Dates</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list_date">Dates</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination"> &lt; View older Posts</a>
</section>