<div class="author">
    <h1 class="author__heading"> Hi my name is Neel </h1>
    <p class="author__body">This is my Blog Website using Nodejs & Mongodb, Hope you like it</p>
</div>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYs3jjelvP7KQT9GWvVjV0mgMw3JlgeJM9Vg&s" alt="chiil guy"
    width="750" height="400">

<section class="articles">
    <h2 class="articles_heading">
        Latest Posts
    </h2>
    <ul class="article-ul">
        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list_date"><%= post.updatedAt.toDateString() %></span>
                </a>
            </li>
            <% }) %>
    </ul>

    <% if (nextPage!== null) { %>
        <a href="/?page=<%= nextPage  %>" class="pagination"> &lt; View older Posts</a>
    <% } %>

</section>